<div class="container">
  <div class="card bg-light">
    <h5 class="card-header">Registrar Nuevo Empleado</h5>
    <div class="card-body">
      <form (ngSubmit) = "onSubmitEmpleado()">
        <div class="row mb-3">
          <label for="nombres" class="col-sm-2 col-form-label">NOMBRE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese Nombre" [(ngModel)]="empleado.nombres" name="nombres">
          </div>
        </div>

        <div class="row mb-3">
          <label for="apellidos" class="col-sm-2 col-form-label">APELLIDOS</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese Apellidos" [(ngModel)]="empleado.apellidos" name="apellidos">
          </div>
        </div>


        <div class="row mb-3">
          <label for="direccion" class="col-sm-2 col-form-label">DIRECCION</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese Direccion" [(ngModel)]="empleado.direccion" name="direccion">
          </div>
        </div>

        <div class="row mb-3">
          <label for="telefono" class="col-sm-2 col-form-label">TELEFONO</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese Telefono" [(ngModel)]="empleado.telefono" name="telefono">
          </div>
        </div>

        <div class="row mb-3">
          <label for="tipo_documento" class="col-sm-2 col-form-label">TIPO DOCUMENTO</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese Tipo Documento" [(ngModel)]="empleado.tipo_documento" name="tipo_documento">
          </div>
        </div>

        <div class="row mb-3">
          <label for="numero_documento" class="col-sm-2 col-form-label">Nº DOCUMENTO</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese Numero Documento" [(ngModel)]="empleado.numero_documento" name="numero_documento">
          </div>
        </div>

        <div class="row mb-3">
          <label for="cargo" class="col-sm-2 col-form-label">CARGO</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese Cargo" [(ngModel)]="empleado.cargo" name="cargo">
          </div>
        </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-danger me-md-2" type="button" [routerLink]="['/empleados']"><i class="fas fa-window-close"></i> Cancelar</button>
            <button class="btn btn-outline-primary" role="button"><i class="far fa-save"></i> Registrar</button>
          </div>
      </form>
    </div>
  </div>

</div>
