<div class="container">
  <div class="card bg-light">
    <h5 class="card-header">Editar Proveedor</h5>
    <div class="card-body">
      <form (ngSubmit) = "onSubmitProveedor()">
        <div class="row mb-3">
          <label for="nombre" class="col-sm-2 col-form-label">NOMBRE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese Nombre" [(ngModel)]="proveedor.nombre" name="nombre">
          </div>
        </div>

        <div class="row mb-3">
            <label for="direccion" class="col-sm-2 col-form-label">DIRECCION</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Ingrese Direccion" [(ngModel)]="proveedor.direccion" name="direccion">
            </div>
          </div>

          <div class="row mb-3">
            <label for="telefono" class="col-sm-2 col-form-label">TELEFONO</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Ingrese Telefono" [(ngModel)]="proveedor.telefono" name="telefono">
            </div>
          </div>

          <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">EMAIL</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Ingrese Email" [(ngModel)]="proveedor.email" name="email">
            </div>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-danger me-md-2" type="button" [routerLink]="['/proveedor']"><i class="fas fa-window-close"></i> Cancelar</button>
            <button class="btn btn-outline-primary" role="button"><i class="far fa-save"></i> Registrar</button>
          </div>
      </form>
    </div>
  </div>

</div>
