<div class="container">
  <div class="card bg-light">
    <h5 class="card-header">Editar Producto</h5>
    <div class="card-body">
      <form (ngSubmit) = "onSubmitProducto()">
        <div class="row mb-3">
          <label for="nombre" class="col-sm-2 col-form-label">NOMBRE</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Ingrese Nombre" [(ngModel)]="producto.nombre" name="nombre">
          </div>
        </div>

        <div class="row mb-3">
            <label for="descripcion" class="col-sm-2 col-form-label">DESCRIPCION</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Ingrese Descripcion" [(ngModel)]="producto.descripcion" name="descripcion">
            </div>
          </div>

          <div class="row mb-3">
            <label for="imagen" class="col-sm-2 col-form-label">IMAGEN</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Ingrese URL Imagen" [(ngModel)]="producto.imagen" name="imagen">
            </div>
          </div>

          <div class="row mb-3">
            <label for="precio" class="col-sm-2 col-form-label">PRECIO</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Ingrese Precio" [(ngModel)]="producto.precio" name="precio">
            </div>
          </div>

          <div class="row mb-3">
            <label for="cantidad" class="col-sm-2 col-form-label">CANTIDAD</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Ingrese Cantidad" [(ngModel)]="producto.cantidad" name="cantidad">
            </div>
          </div>

          <div class="row mb-3">
            <label for="proveedor" class="col-sm-2 col-form-label">CATEGORIA</label>
            <div class="col-sm-10">
              <select [compareWith]="compararCategoria" [(ngModel)]="producto.categoria" name="categoria" class="form-select" aria-label="Default select example">
                <option [ngValue]="undefined">---Seleccione Categoria---</option>
                <option *ngFor="let categorias of categoria" [ngValue]="categorias">{{categorias.nombre}}</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="categoria" class="col-sm-2 col-form-label">PROVEEDOR</label>
            <div class="col-sm-10">
              <select [compareWith]="compararProveedor" [(ngModel)]="producto.proveedor" name="proveedor" class="form-select" aria-label="Default select example">
                <option [ngValue]="undefined">---Seleccione Proveedor---</option>
                <option *ngFor="let prov of proveedor" [ngValue]="prov">{{prov.nombre}}</option>
              </select>
            </div>
          </div>

          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-danger me-md-2" type="button" [routerLink]="['/productos']"><i class="fas fa-window-close"></i> Cancelar</button>
            <button class="btn btn-outline-primary" role="button"><i class="far fa-save"></i> Guardar</button>
          </div>
      </form>
    </div>
  </div>

</div>
