<div class="container">
  <div class="row mt-5" *ngIf="empleado">
    <div class="col-md-4 mx-auto">
        <div class="card" style="width: 18rem;">
            <div class="card-header text-center">
              Detalle Empleado:
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>ID Empleado: </b>{{empleado.idEmpleado}}</li>
              <li class="list-group-item"><b>Nombres: </b>{{empleado.nombres}}</li>
              <li class="list-group-item"><b>Apellidos: </b>{{empleado.apellidos}}</li>
              <li class="list-group-item"><b>Direccion: </b>{{empleado.direccion}}</li>
              <li class="list-group-item"><b>Telefono: </b>{{empleado.telefono}}</li>
              <li class="list-group-item"><b>Tipo Documento: </b>{{empleado.tipo_documento}}</li>
              <li class="list-group-item"><b>Numero Documento: </b>{{empleado.numero_documento}}</li>
              <li class="list-group-item"><b>Cargo: </b>{{empleado.cargo}}</li>
            </ul>
            <div class="card-footer">
                <button class="btn btn-outline-primary btn-block" [routerLink]="['/empleados']"><i class="fas fa-arrow-alt-circle-left"></i> Volver</button>
            </div>
          </div>

    </div>
</div>
</div>
